@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background-color: #e4e9fe;
    --highlight-color: #ccd6ff;
    --darker-highlight-color: #bcc8ff;
    --over-color: #fff2cc;
    --green: #d9ffdf;
    --red: #ffccd7;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.container-popup {
    background-color: var(--highlight-color);
    width: 60%;
    height: 30%;
    padding: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    animation: slide-in 0.5s ease-out;
    border: var(--darker-highlight-color) solid 5px;
    box-shadow: 8px 8px 0px 8px var(--darker-highlight-color);
}

@keyframes slide-in {
    0% {
        transform: translateX(130%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}
    
.container-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 25%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 2px 2px 0px 2px var(--background-color);
    position: relative;
} 

.button:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.button:hover {
    transform: translate(-6px, -6px);
    box-shadow: 8px 8px 0px 2px var(--background-color);
}

.btn-red {
    background-color: var(--red);
}

.btn-green {
    background-color: var(--green);
}

.container-game {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--highlight-color);
    padding: 60px;
    border: var(--darker-highlight-color) solid 5px;
    box-shadow: 8px 8px 0px 8px var(--darker-highlight-color);
}

.container-players,
.container-counter,
.container-weapons {
    width: 100%;
    display: flex;
    align-items: center;
}

.container-players {
    justify-content: space-evenly;
}

#player,
#computer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 180px;
    border-radius: 10px;
}

#player {
    background-color: var(--green);
}

#computer {
    background-color: var(--red);
}

#round-player,
#round-computer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 180px;
    border-radius: 10px;
}  

.container-counter {
    justify-content: stretch;
    border: var(--background-color) solid 5px;
    border-radius: 35px;
    margin-bottom: 60px;
}

#player-1,
#player-2,
#player-3,
#player-4,
#player-5,
#computer-1,
#computer-2,
#computer-3,
#computer-4,
#computer-5 {
    flex: 1 1 0;
    height: 60px;
}

#player-1 {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#computer-1 {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.container-weapons {
    justify-content: space-evenly;
}

.weapon {
    background-color: var(--darker-highlight-color);
    border-radius: 10px;
    width: 180px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 2px 2px 0px 2px var(--background-color);
}

.weapon,
.button {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.weapon:hover {
    transform: translate(-6px, -6px);
    box-shadow: 8px 8px 0px 2px var(--background-color);
}

.weapon:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.red {
    background-color: var(--red);
    animation: add 0.5s ease-out;
}

.green {
    background-color: var(--green);
    animation: add 0.5s ease-out;
}

@keyframes add {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    } 
}